
.main-banner-wrapper{
    min-height: 800px;
    background: no-repeat;
    background-position: top right ;
    background-color: rgba(244, 245, 249, 1);
    .banner-item-left{
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
}
// Why You Choose Area start here
.Choose-area-wrapper{
    img{
        width: 100%;
    }
    .feature-content{
        @media #{$xs, $sm, $md} {
            margin-top: 40px;
        }
        .feature-title {
            padding-bottom: 40px;
        }
        .feature-list {
            ul {
                li {
                    font-weight: 500;
                    font-size: 24px;
                    padding-bottom: 24px;
                    line-height: 32px;
                    display: flex;
                    align-items: start;
                    gap: 8px;

                    &:last-child {
                        padding-bottom: 60px;
                        @media #{$xs, $sm, $md} {
                            padding-bottom: 30px;
                        }
                    }

                    @media #{$xs, $sm, $md, $lg, $xl} {
                        font-size: 18px;
                        line-height: 24px;
                    }
                }
            }
        }
         //Cta call start form here
            .cta-call-number {
                display: flex;
                align-items: center;
                gap: 12px;
                margin-top: 40px;
                padding: 24px 12px;
                background: rgba(90, 51, 56, 0.1);
                justify-content: center;
                margin: 0 auto;

                @media #{$xs,md} {
                flex-direction: column;
                gap: 6px;
                }
            }
    }
}

//Service Area start here
.service-area-wrapper{
    .main-service-box{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        @media #{$xl, $lg, $md, $sm } {
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }
        @media #{$xs} {
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }
        .service-single{
            border-right: 1px solid #ddd;
            text-align: center;

            &:last-child {
                border: none;
            }
            @media #{$xs} {
                border: none;
            }
            @media #{$xl, $lg, $md, $sm } {
                padding: 15px;
            }
            h6{
                padding-top: 20px;
            }
            p{
                font-size: var(--st-fz-p2);
            }
        }
    }
}

// Review Area start here

.customer-review-area-wrapper{
    position: relative;
    max-height: 583px;
    .feature-content{
        h2{
            color: var(--st-common-white);
        }
        p{
           font-size: 24px;
           line-height: 32px;
           color: var(--st-common-white);
           padding-bottom: 40px;
        }
    }
    .swiper {
        padding-bottom: 68px;
        max-width: 1074px;
        margin-left: 0;
        margin-right: 0;
        .swiper-pagination{
            bottom: 0;
        }
        .swiper-pagination-bullet{
            width: 16px;
            height: 16px;              
            border: 2px solid var(--st-theme-primary); 
            background: transparent;   
            opacity: 1;                
            border-radius: 0;          
            margin: 0 5px !important;  
        }
        .swiper-pagination-bullet-active {
            background: var(--st-theme-primary); 
            border-color: var(--st-theme-primary);
        }
    }
    .review-img{
        position: absolute;
        right: 0;
        top: 120px;
    }
}
