$colors: (
    common: (
        white: #ffffff,
        black: #000000,
        light-white: #eeeeee,
        body: #6B6B6B,
    ),
    heading: (
        primary: #000000,
    ),
    grey: (
        1:#F3FAF5,
        2:#EEEEEE,
    ),
    text: (
        body:#6A6A6A,
    ),
    theme: (
        primary: #B3041E, 
    ),
    border: (
        1: #EEEEEE,
    ),
    bg: (
        1: rgba(245, 245, 245, 1),
    )
);