@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  /**
  @font family declaration
  */
  --st-ff-body: 'jost', sans-serif;
  --st-ff-heading: 'jost', sans-serif;
  --st-ff-p: 'jost', sans-serif;
  --st-ff-menu: 'jost', sans-serif;
  --st-ff-button: 'jost', sans-serif;
  /**
  @color declaration
  */
  --st-common-white: #ffffff;
  --st-common-black: #000000;
  --st-common-light-white: #eeeeee;
  --st-common-body: #6B6B6B;
  --st-heading-primary: #000000;
  --st-grey-1: #F3FAF5;
  --st-grey-2: #EEEEEE;
  --st-grey-3: rgb(244, 245, 249);
  --st-text-body: #6A6A6A;
  --st-theme-primary: #5A3338;
  --st-border-1: #EEEEEE;
  --st-bg-1: rgb(245, 245, 245);
  /**
  @font weight declaration
  */
  --st-fw-normal: normal;
  --st-fw-regular: 400;
  --st-fw-medium: 500;
  --st-fw-sbold: 600;
  --st-fw-bold: 700;
  --st-fw-heading: 600;
  --st-fw-ebold: 800;
  --st-fw-black: 900;
  /**
  @font size declaration
  */
  --st-fz-body: 18px;
  --st-fz-p: 18px;
  --st-fz-p2: 16px;
  --st-fz-h1: 78px;
  --st-fz-h2: 52px;
  --st-fz-h3: 42px;
  --st-fz-h4: 32px;
  --st-fz-h5: 28px;
  --st-fz-h6: 24px;
  --st-fz-mob-body: 16px;
  --st-fz-mob-h1: 36px;
  --st-fz-mob-h2: 30px;
  --st-fz-mob-h3: 26px;
  --st-fz-mob-h4: 22px;
  --st-fz-mob-h5: 20px;
  --st-fz-mob-h6: 18px;
  --st-fz-tab-body: 18px;
  --st-fz-tab-h1: 48px;
  --st-fz-tab-h2: 40px;
  --st-fz-tab-h3: 32px;
  --st-fz-tab-h4: 28px;
  --st-fz-tab-h5: 24px;
  --st-fz-tab-h6: 20px;
  /**
  @line height declaration
  */
  --st-lh-body: 1.56;
  --st-lh-p: 1.56;
  --st-lh-p2: 1.5;
  --st-lh-h1: 110px;
  --st-lh-h2: 74px;
  --st-lh-h3: 1.25;
  --st-lh-h4: 1.25;
  --st-lh-h5: 1.28;
  --st-lh-h6: 1.3;
  --st-lh-h1-tab: 1.2;
  --st-lh-h2-tab: 1.25;
  --st-lh-h3-tab: 1.25;
  --st-lh-h4-tab: 1.25;
  --st-lh-h5-tab: 1.28;
  --st-lh-h6-tab: 1.3;
  --st-lh-h1-mob: 1.2;
  --st-lh-h2-mob: 1.25;
  --st-lh-h3-mob: 1.25;
  --st-lh-h4-mob: 1.25;
  --st-lh-h5-mob: 1.28;
  --st-lh-h6-mob: 1.3;
}

.pt-120 {
  padding-top: 120px;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pt-120 {
    padding-top: 80px;
  }
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .pt-120 {
    padding-top: 50px;
  }
}

.pb-120 {
  padding-bottom: 120px;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pb-120 {
    padding-bottom: 80px;
  }
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .pb-120 {
    padding-bottom: 50px;
  }
}

.pt-80 {
  padding-top: 80px;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pt-80 {
    padding-top: 50px;
  }
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .pt-80 {
    padding-top: 30px;
  }
}

.pb-80 {
  padding-bottom: 80px;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pb-80 {
    padding-bottom: 50px;
  }
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .pb-80 {
    padding-bottom: 30px;
  }
}

.pt-60 {
  padding-top: 60px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .pt-60 {
    padding-top: 30px;
  }
}

.pb-60 {
  padding-bottom: 60px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .pb-60 {
    padding-bottom: 30px;
  }
}

.st-pt-4 {
  padding-top: 4px;
}

.st-pt-8 {
  padding-top: 8px;
}

.pt-12 {
  padding-top: 12px;
}

.pt-16 {
  padding-top: 16px;
}

.pt-24 {
  padding-top: 24px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .pt-24 {
    padding-top: 16px;
  }
}

.pt-32 {
  padding-top: 32px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .pt-32 {
    padding-top: 24px;
  }
}

.pt-48 {
  padding-top: 48px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .pt-48 {
    padding-top: 32px;
  }
}

.st-pb-4 {
  padding-bottom: 4px;
}

.st-pb-8 {
  padding-bottom: 8px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-24 {
  padding-bottom: 24px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .pb-24 {
    padding-bottom: 16px;
  }
}

.pb-32 {
  padding-bottom: 32px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .pb-32 {
    padding-bottom: 24px;
  }
}

.pb-48 {
  padding-bottom: 48px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .pb-48 {
    padding-bottom: 32px;
  }
}

.st-py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.st-py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .py-24 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .py-32 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.py-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .py-48 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.mb-120 {
  margin-bottom: 120px;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mb-120 {
    margin-bottom: 80px;
  }
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .mb-120 {
    margin-bottom: 50px;
  }
}

.mt-120 {
  margin-top: 120px;
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mt-120 {
    margin-top: 80px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mt-120 {
    margin-top: 60px;
  }
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .mt-120 {
    margin-top: 50px;
  }
}

.mt-80 {
  margin-top: 80px;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mt-80 {
    margin-top: 50px;
  }
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .mt-80 {
    margin-top: 30px;
  }
}

.mb-80 {
  margin-bottom: 80px;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mb-80 {
    margin-bottom: 50px;
  }
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .mb-80 {
    margin-bottom: 30px;
  }
}

.mt-60 {
  margin-top: 60px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .mt-60 {
    margin-top: 30px;
  }
}

.mb-60 {
  margin-bottom: 60px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .mb-60 {
    margin-bottom: 30px;
  }
}

.st-mt-4 {
  margin-top: 4px;
}

.st-mt-8 {
  margin-top: 8px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-24 {
  margin-top: 24px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .mt-24 {
    margin-top: 16px;
  }
}

.mt-32 {
  margin-top: 32px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .mt-32 {
    margin-top: 24px;
  }
}

.mt-48 {
  margin-top: 48px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .mt-48 {
    margin-top: 32px;
  }
}

.st-mb-4 {
  margin-bottom: 4px;
}

.st-mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .mb-24 {
    margin-bottom: 16px;
  }
}

.mb-32 {
  margin-bottom: 32px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .mb-32 {
    margin-bottom: 24px;
  }
}

.mb-48 {
  margin-bottom: 48px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .mb-48 {
    margin-bottom: 32px;
  }
}

.st-my-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.st-my-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .my-24 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.my-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .my-32 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

.my-48 {
  margin-top: 48px;
  margin-bottom: 48px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .my-48 {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .ml-sm-24 {
    margin-left: 24px;
  }
}

:root {
  /**
  @font family declaration
  */
  --st-ff-body: 'jost', sans-serif;
  --st-ff-heading: 'jost', sans-serif;
  --st-ff-p: 'jost', sans-serif;
  --st-ff-menu: 'jost', sans-serif;
  --st-ff-button: 'jost', sans-serif;
  /**
  @color declaration
  */
  --st-common-white: #ffffff;
  --st-common-black: #000000;
  --st-common-light-white: #eeeeee;
  --st-common-body: #6B6B6B;
  --st-heading-primary: #000000;
  --st-grey-1: #F3FAF5;
  --st-grey-2: #EEEEEE;
  --st-grey-3: rgb(244, 245, 249);
  --st-text-body: #6A6A6A;
  --st-theme-primary: #5A3338;
  --st-border-1: #EEEEEE;
  --st-bg-1: rgb(245, 245, 245);
  /**
  @font weight declaration
  */
  --st-fw-normal: normal;
  --st-fw-regular: 400;
  --st-fw-medium: 500;
  --st-fw-sbold: 600;
  --st-fw-bold: 700;
  --st-fw-heading: 600;
  --st-fw-ebold: 800;
  --st-fw-black: 900;
  /**
  @font size declaration
  */
  --st-fz-body: 18px;
  --st-fz-p: 18px;
  --st-fz-p2: 16px;
  --st-fz-h1: 78px;
  --st-fz-h2: 52px;
  --st-fz-h3: 42px;
  --st-fz-h4: 32px;
  --st-fz-h5: 28px;
  --st-fz-h6: 24px;
  --st-fz-mob-body: 16px;
  --st-fz-mob-h1: 36px;
  --st-fz-mob-h2: 30px;
  --st-fz-mob-h3: 26px;
  --st-fz-mob-h4: 22px;
  --st-fz-mob-h5: 20px;
  --st-fz-mob-h6: 18px;
  --st-fz-tab-body: 18px;
  --st-fz-tab-h1: 48px;
  --st-fz-tab-h2: 40px;
  --st-fz-tab-h3: 32px;
  --st-fz-tab-h4: 28px;
  --st-fz-tab-h5: 24px;
  --st-fz-tab-h6: 20px;
  /**
  @line height declaration
  */
  --st-lh-body: 1.56;
  --st-lh-p: 1.56;
  --st-lh-p2: 1.5;
  --st-lh-h1: 110px;
  --st-lh-h2: 74px;
  --st-lh-h3: 1.25;
  --st-lh-h4: 1.25;
  --st-lh-h5: 1.28;
  --st-lh-h6: 1.3;
  --st-lh-h1-tab: 1.2;
  --st-lh-h2-tab: 1.25;
  --st-lh-h3-tab: 1.25;
  --st-lh-h4-tab: 1.25;
  --st-lh-h5-tab: 1.28;
  --st-lh-h6-tab: 1.3;
  --st-lh-h1-mob: 1.2;
  --st-lh-h2-mob: 1.25;
  --st-lh-h3-mob: 1.25;
  --st-lh-h4-mob: 1.25;
  --st-lh-h5-mob: 1.28;
  --st-lh-h6-mob: 1.3;
}

.pt-120 {
  padding-top: 120px;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pt-120 {
    padding-top: 80px;
  }
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .pt-120 {
    padding-top: 50px;
  }
}

.pb-120 {
  padding-bottom: 120px;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pb-120 {
    padding-bottom: 80px;
  }
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .pb-120 {
    padding-bottom: 50px;
  }
}

.pt-80 {
  padding-top: 80px;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pt-80 {
    padding-top: 50px;
  }
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .pt-80 {
    padding-top: 30px;
  }
}

.pb-80 {
  padding-bottom: 80px;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pb-80 {
    padding-bottom: 50px;
  }
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .pb-80 {
    padding-bottom: 30px;
  }
}

.pt-60 {
  padding-top: 60px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .pt-60 {
    padding-top: 30px;
  }
}

.pb-60 {
  padding-bottom: 60px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .pb-60 {
    padding-bottom: 30px;
  }
}

.st-pt-4 {
  padding-top: 4px;
}

.st-pt-8 {
  padding-top: 8px;
}

.pt-12 {
  padding-top: 12px;
}

.pt-16 {
  padding-top: 16px;
}

.pt-24 {
  padding-top: 24px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .pt-24 {
    padding-top: 16px;
  }
}

.pt-32 {
  padding-top: 32px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .pt-32 {
    padding-top: 24px;
  }
}

.pt-48 {
  padding-top: 48px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .pt-48 {
    padding-top: 32px;
  }
}

.st-pb-4 {
  padding-bottom: 4px;
}

.st-pb-8 {
  padding-bottom: 8px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-24 {
  padding-bottom: 24px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .pb-24 {
    padding-bottom: 16px;
  }
}

.pb-32 {
  padding-bottom: 32px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .pb-32 {
    padding-bottom: 24px;
  }
}

.pb-48 {
  padding-bottom: 48px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .pb-48 {
    padding-bottom: 32px;
  }
}

.st-py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.st-py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .py-24 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .py-32 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.py-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .py-48 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.mb-120 {
  margin-bottom: 120px;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mb-120 {
    margin-bottom: 80px;
  }
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .mb-120 {
    margin-bottom: 50px;
  }
}

.mt-120 {
  margin-top: 120px;
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mt-120 {
    margin-top: 80px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mt-120 {
    margin-top: 60px;
  }
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .mt-120 {
    margin-top: 50px;
  }
}

.mt-80 {
  margin-top: 80px;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mt-80 {
    margin-top: 50px;
  }
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .mt-80 {
    margin-top: 30px;
  }
}

.mb-80 {
  margin-bottom: 80px;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mb-80 {
    margin-bottom: 50px;
  }
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .mb-80 {
    margin-bottom: 30px;
  }
}

.mt-60 {
  margin-top: 60px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .mt-60 {
    margin-top: 30px;
  }
}

.mb-60 {
  margin-bottom: 60px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .mb-60 {
    margin-bottom: 30px;
  }
}

.st-mt-4 {
  margin-top: 4px;
}

.st-mt-8 {
  margin-top: 8px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-24 {
  margin-top: 24px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .mt-24 {
    margin-top: 16px;
  }
}

.mt-32 {
  margin-top: 32px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .mt-32 {
    margin-top: 24px;
  }
}

.mt-48 {
  margin-top: 48px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .mt-48 {
    margin-top: 32px;
  }
}

.st-mb-4 {
  margin-bottom: 4px;
}

.st-mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .mb-24 {
    margin-bottom: 16px;
  }
}

.mb-32 {
  margin-bottom: 32px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .mb-32 {
    margin-bottom: 24px;
  }
}

.mb-48 {
  margin-bottom: 48px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .mb-48 {
    margin-bottom: 32px;
  }
}

.st-my-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.st-my-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .my-24 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.my-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .my-32 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

.my-48 {
  margin-top: 48px;
  margin-bottom: 48px;
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .my-48 {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .ml-sm-24 {
    margin-left: 24px;
  }
}

/*-----------------------------------------------------------------------------------

    Theme Name: Vasha – News Portal HTML5 Template
    Author: SOFTZINO
    Support: info@softzino.com
    Description: Template Name  – HTML5 Template
    Version: 1.0

-----------------------------------------------------------------------------------

/************ TABLE OF CONTENTS ***************

    01. THEME DEFAULT CSS
    02. HEADER CSS



**********************************************/
/*----------------------------------------*/
/*  01. THEME DEFAULT CSS START
/*----------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------------------------------
    typography css start 
---------------------------------*/
body {
  font-family: var(--st-ff-body);
  font-size: var(--st-fz-body);
  font-weight: normal;
  color: var(--st-text-body);
  line-height: var(--st-lh-body);
  overflow-x: hidden;
}
@media (max-width: 575.98px) {
  body {
    font-size: var(--st-fz-p2);
    line-height: var(--st-lh-p2);
  }
}

a {
  text-decoration: none;
  color: var(--st-heading-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--st-ff-heading);
  color: var(--st-heading-primary);
  margin: 0;
  font-weight: var(--st-fw-heading);
  transition: all 0.3s ease-out 0s;
}

h1 {
  font-size: var(--st-fz-h1);
  line-height: var(--st-lh-h1);
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  h1 {
    font-size: var(--st-fz-tab-h1);
    line-height: var(--st-lh-h1-tab);
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  h1 {
    font-size: var(--st-fz-mob-h1);
    line-height: var(--st-lh-h1-mob);
  }
}

h2 {
  font-size: var(--st-fz-h2);
  line-height: var(--st-lh-h2);
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  h2 {
    font-size: var(--st-fz-tab-h2);
    line-height: var(--st-lh-h2-tab);
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  h2 {
    font-size: var(--st-fz-mob-h2);
    line-height: var(--st-lh-h2-mob);
  }
}

h3 {
  font-size: var(--st-fz-h3);
  line-height: var(--st-lh-h3);
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  h3 {
    font-size: var(--st-fz-tab-h3);
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  h3 {
    font-size: var(--st-fz-mob-h3);
    line-height: var(--st-lh-h3-mob);
  }
}

h4 {
  font-size: var(--st-fz-h4);
  line-height: var(--st-lh-h4);
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  h4 {
    font-size: var(--st-fz-tab-h4);
    line-height: var(--st-lh-h4-tab);
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  h4 {
    font-size: var(--st-fz-mob-h4);
    line-height: var(--st-lh-h4-mob);
  }
}

h5 {
  font-size: var(--st-fz-h5);
  line-height: var(--st-lh-h5);
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  h5 {
    font-size: var(--st-fz-tab-h5);
    line-height: var(--st-lh-h5-tab);
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  h5 {
    font-size: var(--st-fz-mob-h5);
    line-height: var(--st-lh-h5-mob);
  }
}

h6 {
  font-size: var(--st-fz-h6);
  line-height: var(--st-lh-h6);
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  h6 {
    font-size: var(--st-fz-tab-h6);
    line-height: var(--st-lh-h6-tab);
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  h6 {
    font-size: var(--st-fz-mob-h6);
    line-height: var(--st-lh-h6-mob);
  }
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p {
  font-family: var(--st-ff-p);
  font-size: var(--st-fz-body);
  font-weight: var(--st-fw-normal);
  color: var(--st-text-body);
  line-height: var(--st-lh-p);
  margin: 0;
}
@media (max-width: 575.98px) {
  p {
    font-size: var(--st-fz-p2);
    line-height: var(--st-lh-p2);
  }
}

.primary-btn {
  font-size: 20px;
  line-height: 23px;
  font-weight: 600;
  color: var(--st-common-white);
  background-color: var(--st-theme-primary);
  padding: 18px 32px;
  display: inline-flex;
  align-items: center;
  gap: 11px;
  justify-content: center;
}

.video-wrapper .video-main-wrap {
  position: relative;
}
.video-wrapper .video-main-wrap .video-play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-wrapper .video-content {
  font-size: 32px;
  line-height: 1.3;
  margin-top: 40px;
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px), (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .video-wrapper .video-content {
    font-size: 24px;
    line-height: 1.4;
    margin-top: 24px;
  }
}
.video-wrapper .order-btn-wrapper {
  gap: 40px;
  margin-top: 28px;
  justify-content: center;
}
@media (max-width: 575.98px) {
  .video-wrapper .order-btn-wrapper {
    gap: 16px;
    margin-top: 24px;
    flex-direction: column;
    align-items: center;
  }
}
.video-wrapper .order-btn-wrapper .contact-box {
  display: flex;
  align-items: center;
  gap: 12px;
}
.video-wrapper .order-btn-wrapper .contact-box .whatsapp-icon-box {
  width: 60px;
  height: 60px;
  background: #4ac959;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
}
.video-wrapper .order-btn-wrapper .contact-box .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2px;
}
.video-wrapper .order-btn-wrapper .contact-box .contact-info .contact-caption {
  font-weight: 500;
}
.video-wrapper .order-btn-wrapper .contact-box .contact-info .contact-phone {
  font-size: 20px;
  font-weight: 600;
  color: var(--st-common-black);
  letter-spacing: 1px;
  line-height: 1.1;
  margin-top: 2px;
}

.product-details ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-details ul li {
  background: #F4F5F9;
  padding: 16px;
  margin-bottom: 40px;
  border-radius: 0;
  font-size: 28px;
  position: relative;
  font-weight: 500;
  text-align: center;
  color: var(--st-heading-primary);
}

.arrow-right::after,
.arrow-left::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 60px;
  height: 2px;
  background: #5b2327;
}

.arrow-right::after {
  right: -65px;
}

.arrow-left::after {
  left: -65px;
}

/* Responsive */
@media (max-width: 991px) {
  .product-details ul li {
    margin-bottom: 20px;
    text-align: center;
  }
  .arrow-right::after,
  .arrow-left::after {
    display: none;
  }
}
.our-collection-area .single-product .product-img {
  background-repeat: no-repeat;
  background-position: bottom;
  margin-bottom: 24px;
}
.our-collection-area .single-product .product-content {
  text-align: center;
}
.our-collection-area .single-product .product-content .color-pattel {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-bottom: 16px;
}
.our-collection-area .single-product .product-content .color-pattel span {
  width: 24px;
  height: 24px;
  display: inline-block;
  cursor: pointer;
}
.our-collection-area .single-product .product-content .color-pattel .red {
  background: var(--st-theme-primary);
}
.our-collection-area .single-product .product-content .color-pattel .orrange {
  background: #F15F25;
}
.our-collection-area .single-product .product-content .color-pattel .yellow {
  background: #F9B001;
}
.our-collection-area .single-product .product-content .product-title {
  margin-bottom: 4px;
}
.our-collection-area .single-product .product-content .price-wrapper {
  margin-bottom: 16px;
}
.our-collection-area .single-product .product-content .price-wrapper .current-price {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: var(--st-theme-primary);
}
.our-collection-area .single-product .product-content .price-wrapper .old-price {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  color: var(--st-text-body);
}

footer .copyright-section {
  background: #F4F5F9;
  padding: 12px 0;
}
footer .copyright-section p {
  font-weight: 500;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.pl-0 {
  padding-left: 0;
}

.background-position {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.custom-container-xl {
  max-width: 1722px;
}

.custom-container-small {
  max-width: 1196px;
}

.custom-container-xs-small {
  max-width: 1074px;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.pb-40 {
  padding-bottom: 40px;
}

.main-banner-wrapper {
  min-height: 800px;
  background: no-repeat;
  background-position: top right;
  background-color: rgb(244, 245, 249);
}
.main-banner-wrapper .banner-item-left {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.Choose-area-wrapper img {
  width: 100%;
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px), only screen and (min-width: 768px) and (max-width: 991.98px) {
  .Choose-area-wrapper .feature-content {
    margin-top: 40px;
  }
}
.Choose-area-wrapper .feature-content .feature-title {
  padding-bottom: 40px;
}
.Choose-area-wrapper .feature-content .feature-list ul li {
  font-weight: 500;
  font-size: 24px;
  padding-bottom: 24px;
  line-height: 32px;
  display: flex;
  align-items: start;
  gap: 8px;
}
.Choose-area-wrapper .feature-content .feature-list ul li:last-child {
  padding-bottom: 60px;
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px), only screen and (min-width: 768px) and (max-width: 991.98px) {
  .Choose-area-wrapper .feature-content .feature-list ul li:last-child {
    padding-bottom: 30px;
  }
}
@media (max-width: 575.98px), only screen and (min-width: 576px) and (max-width: 767.98px), only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (min-width: 992px) and (max-width: 1199.98px), only screen and (min-width: 1200px) and (max-width: 1399px) {
  .Choose-area-wrapper .feature-content .feature-list ul li {
    font-size: 18px;
    line-height: 24px;
  }
}
.Choose-area-wrapper .feature-content .cta-call-number {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 40px;
  padding: 24px 12px;
  background: rgba(90, 51, 56, 0.1);
  justify-content: center;
  margin: 0 auto;
}
@media (max-width: 575.98px), md {
  .Choose-area-wrapper .feature-content .cta-call-number {
    flex-direction: column;
    gap: 6px;
  }
}

.service-area-wrapper .main-service-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199.98px), only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .service-area-wrapper .main-service-box {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
@media (max-width: 575.98px) {
  .service-area-wrapper .main-service-box {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
.service-area-wrapper .main-service-box .service-single {
  border-right: 1px solid #ddd;
  text-align: center;
}
.service-area-wrapper .main-service-box .service-single:last-child {
  border: none;
}
@media (max-width: 575.98px) {
  .service-area-wrapper .main-service-box .service-single {
    border: none;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199.98px), only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (min-width: 576px) and (max-width: 767.98px) {
  .service-area-wrapper .main-service-box .service-single {
    padding: 15px;
  }
}
.service-area-wrapper .main-service-box .service-single h6 {
  padding-top: 20px;
}
.service-area-wrapper .main-service-box .service-single p {
  font-size: var(--st-fz-p2);
}

.customer-review-area-wrapper {
  position: relative;
  max-height: 583px;
}
.customer-review-area-wrapper .feature-content h2 {
  color: var(--st-common-white);
}
.customer-review-area-wrapper .feature-content p {
  font-size: 24px;
  line-height: 32px;
  color: var(--st-common-white);
  padding-bottom: 40px;
}
.customer-review-area-wrapper .swiper {
  padding-bottom: 68px;
  max-width: 1074px;
  margin-left: 0;
  margin-right: 0;
}
.customer-review-area-wrapper .swiper .swiper-pagination {
  bottom: 0;
}
.customer-review-area-wrapper .swiper .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  border: 2px solid var(--st-theme-primary);
  background: transparent;
  opacity: 1;
  border-radius: 0;
  margin: 0 5px !important;
}
.customer-review-area-wrapper .swiper .swiper-pagination-bullet-active {
  background: var(--st-theme-primary);
  border-color: var(--st-theme-primary);
}
.customer-review-area-wrapper .review-img {
  position: absolute;
  right: 0;
  top: 120px;
}/*# sourceMappingURL=main.css.map */